@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baskervville", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    min-height: 100vh;
    margin-top: 70px;
    background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148, 0.06) 0%, rgba(148, 148, 148, 0.06) 50%, rgba(63, 63, 63, 0.06) 50%, rgba(63, 63, 63, 0.06) 100%), radial-gradient(circle at 68% 87%, rgba(66, 66, 66, 0.06) 0%, rgba(66, 66, 66, 0.06) 50%, rgba(105, 105, 105, 0.06) 50%, rgba(105, 105, 105, 0.06) 100%), radial-gradient(circle at 38% 50%, rgba(123, 123, 123, 0.06) 0%, rgba(123, 123, 123, 0.06) 50%, rgba(172, 172, 172, 0.06) 50%, rgba(172, 172, 172, 0.06) 100%), linear-gradient(90deg, hsl(18, 0%, 1%), hsl(18, 0%, 1%));
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 -10px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}

.nav-links{
    display:flex;
    justify-content: space-between;
    width: 50%;
}

nav a {
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
    padding-bottom: 0.5em;
}

nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: 0;
    left: 50%;
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 5px;
}

nav a:hover::before {
    width: 100%;
    left: 0;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

.hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active div:nth-child(3) {
    opacity: 0;
}

.hamburger.active div:nth-child(2) {

    transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 425px) {
    h1{
        font-size: 1.5em;
    }

}


@media screen and (max-width: 1024px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 80px;
        right: 10px;
        width: 200px;
        padding: 20px;
        border-radius: 0 0 0 10px;
    }

    nav.active .nav-links {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .hamburger div{
        width: 40px;
    }

    h1{
        font-size: 2em;
    }

}

@media screen and (min-width: 1025px) {
    h1{
        font-size: 3em;
    }
}





h1{
    color: white;
    letter-spacing: 2px;
    font-style: italic;
}

.main-content {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    height: 550px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
}

.post-header ion-icon{
    font-size: 1.5em;
    color: black;
}

.username {
    font-weight: bold;
}

.post-actions ion-icon {
    font-size: 2em;
    cursor: pointer;
}

.post-actions a{
    color: black;
    font-size: 0.7em;
}

.like-icon[name="heart"] {
    color: red; 
}

.post-images {
    position: relative;
}

.post-images img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}


.post-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.post-comments a{
    text-decoration: none;
    color: black;
}

.post-likes,
.post-description,
.post-comments,
.post-time {
    padding: 5px 0;
}

.like-button{
    background-color: transparent;
    border: none;
}
